@import "../breakpoints.scss";
@import "../variables.scss";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem 2rem;
  gap: 2rem;
  padding: 1rem 1rem;
  @include media(">tablet") {
    flex-direction: row;
    margin: 12rem 8rem;
  }
  .text_content {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    z-index: 5;
  }
}
