@import "../breakpoints.scss";
@import "../variables.scss";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem 2rem;
  gap: 2rem;
  @include media(">tablet") {
    flex-direction: row;
    margin: 12rem 8rem;
  }
  .text_content {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
  }
  .images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 4rem;
    .image {
      position: relative;
      width: 48px;
      height: 48px;
      @include media(">tablet") {
        width: 84px;
        height: 84px;
      }
    }
  }
}
