@import "../variables.scss";
@import "../breakpoints.scss";

.header {
  padding: 1rem 0;

  .logo {
    font-size: 30px;
    font-weight: 600;
    color: $light-blue;
  }
  .navlinks {
    list-style: none;
    display: flex;
    z-index: 20;
    a {
      font-size: 24px;
      font-weight: 600;
    }
    @include media("<=desktop") {
      position: fixed;
      top: -5%;
      right: 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 75%;
      gap: 3rem;
      background: rgba(1, 10, 19, 0.96);
      @supports (backdrop-filter: blur(3rem)) {
        background: rgba(1, 10, 19, 0.72);
        backdrop-filter: blur(3rem);
      }
      height: 105vh;
      padding: min(30vh, 10rem) 0;
      li {
        width: 100%;
        padding: 1.5rem 0;
        &:hover,
        &:active {
          color: $dark-blue;
          background: $yellow;
        }
      }
    }

    @include media(">=desktop") {
      gap: 5rem;
      align-items: center;

      .hirebtn {
        font-weight: 700;

        padding: 0.5rem 2.5rem;

        border-radius: 3px;
        background: radial-gradient(circle closest-side, $white 100%, #0000)
          center;
        background-size: 0 0;
        background-repeat: no-repeat;
        transition: 0.5s;
        background-color: $yellow;
        color: $dark-blue;

        &:hover {
          background-size: 300px 300px;
          color: $dark-blue;
        }
      }
    }
  }
  .closed {
    @include media("<=desktop") {
      display: none;
    }
  }
}

.hamburger {
  @include media(">=desktop") {
    display: none;
  }
  position: fixed;
  top: 1%;
  right: 4%;
  z-index: 21;
  &:hover {
    cursor: pointer;
  }
  .line {
    width: 32px;
    height: 2px;
    background-color: $white;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  &.is_active .line:nth-child(2) {
    opacity: 0;
  }
  &.is_active .line:nth-child(1) {
    -webkit-transform: translateY(12px) rotate(45deg);
    -ms-transform: translateY(12px) rotate(45deg);
    -o-transform: translateY(12px) rotate(45deg);
    transform: translateY(12px) rotate(45deg);
  }
  &.is_active .line:nth-child(3) {
    -webkit-transform: translateY(-12px) rotate(-45deg);
    -ms-transform: translateY(-12px) rotate(-45deg);
    -o-transform: translateY(-12px) rotate(-45deg);
    transform: translateY(-12px) rotate(-45deg);
  }
}
