@import "../../breakpoints.scss";
@import "../../variables.scss";

.main {
  width: 100%;
  margin-top: 16rem;
  h2 {
    font-size: 3rem;
    @include heading-effect("About");
  }
  .text_content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
    p {
      max-width: 48ch;
      letter-spacing: 0.075rem;
      font-size: 1.5rem;
    }
  }
}
