@import "../../breakpoints.scss";
@import "../../variables.scss";

.contact {
  .contact_form {
    form {
      .input {
        label {
        }
        input {
        }
        textarea {
        }
      }
      button[type="submit"] {
        background-color: $yellow;
        color: $dark-blue;
        font-weight: 700;

        border: none;
      }
    }
  }
}
