@import "./variables.scss";

.home {
  background: url(/main-background.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    margin-top: 13rem;
    margin-left: 1rem;
    margin-right: 1rem;
    h1 {
      margin: 0;
      padding: 0;
    }
    h2 {
      color: $light-blue;
      margin: 0;
      padding: 0;
    }
  }
}
